<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGosService" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IGosService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2112/Gos" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IGosService" contract="GosServices.IGosService"
                name="BasicHttpBinding_IGosService" />
            <endpoint address="net.tcp://192.168.0.102:2113/Gos" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IGosService" contract="GosServices.IGosService"
                name="NetTcpBinding_IGosService">
                <identity>
                    <userPrincipalName value="RACCOON-01\Raccoon" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>